body { font-family:arial; margin-left:40px; margin-right:40px; visibility:hidden }

.app-container { margin-left:auto; margin-right:auto }

.av-control { border-style:solid; border-width:thin; border-color: #ded8d8; }

.controls { margin-left:auto; margin-right:auto }

.video-control { height:65%; }

.audio-control { width:100%; }

.top-bar { display: flex; }

.params { margin-top: 8px; }

.ui-link-label { font-size:smaller }

.ui-label { }

.control-cluster-label { text-align:center }

.button { text-align:center; white-space:nowrap }

.slider-button { margin-top:7px; }

.clip-controls-spacer { width:8px }

.controls-button { margin-top:6px; }

.capture-button {}

.controls { display: flex; }

.slider-container { display:flex; margin-top:8px }

.end-clip { display:none }

.slider { width:100%; margin-left:20px; margin-right:20px; margin-top:10px; margin-bottom:10px; }

.video-slider { }

.min-or-sec { width: 2em }

.min-sec-controls { }

.arrow { cursor: pointer }

.slider-play-pause { cursor: pointer; font-size: x-large }