body { font-family:verdana; margin: .25in }

video { margin-top:12px; height:70% }

//audio { display:none }

.title { font-size:larger; font-weight:bold }

//#top-bar { display: flex }

.play-clip { }

.play-intro-outro { text-align:center; margin-top:6px }

.capture { text-align:center; font-size:smaller }

#end-clip { display:none }

#controls { display: flex; }

#start-controls, #end-controls { }

#slider { width:100%; margin-left:1.5em; margin-top:10px; margin-bottom:10px; }

#slider-container { display:flex }

#slider-counters { margin-left:4px; margin-top:8px; font-size:smaller; }

.label { text-align:center; font-size:smaller }

#permalink { font-size:smaller }

.unit { font-family:courier }

.url-label { margin-left:10px; margin-top:20px }

.min-or-sec { width: 2em }

.min-sec-controls { }

.arrow { cursor: pointer }

.slider-play-pause { cursor: pointer; font-size: x-large }